@{
    ViewData["Title"] = "Gestor de Libros";
}

<div class="text-center">
    <h1>Bienvenido a la Biblioteca</h1>
    <p>Este es un sistema para gestionar libros.</p>
    <p>Utiliza el menú para navegar por las diferentes funciones.</p>
</div>

<div class="text-center">
    <img src="~/images/R.jpeg" alt="Gestor de Libros" class="img-fluid" style="max-width: 400px; height: auto;" />
</div>

<div class="text-center mt-4">
    <a asp-controller="Libros" asp-action="Index" class="btn btn-primary">Ver Libros</a>
    <a asp-controller="Libros" asp-action="Create" class="btn btn-success">Agregar Nuevo Libro</a>
</div>


<h2 class="text-center mt-5">Libros Destacados</h2>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/el_quijote.jpg" class="card-img-top" alt="El Quijote">
                <div class="card-body">
                    <h5 class="card-title">El Quijote</h5>
                    <p class="card-text">Una de las obras más importantes de la literatura universal, narra las aventuras de un hidalgo que decide convertirse en caballero andante.</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/cien_anios_soledad.jpg" class="card-img-top" alt="Cien años de soledad">
                <div class="card-body">
                    <h5 class="card-title">Cien años de soledad</h5>
                    <p class="card-text">La historia de la familia Buendía en el pueblo de Macondo, explorando temas de soledad y la búsqueda de la identidad.</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/el_amor_en_los_tiempos_del_colera.jpg" class="card-img-top" alt="El amor en los tiempos del cólera">
                <div class="card-body">
                    <h5 class="card-title">El amor en los tiempos del cólera</h5>
                    <p class="card-text">La historia de amor entre Florentino Ariza y Fermina Daza, explorando las distintas facetas del amor a través del tiempo.</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>
